doctype html
html(lang="en")
    head
        title
    body
        h1 The future home of something magical!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in lorem justo. Pellentesque vel lobortis sapien. Donec pretium, magna at euismod faucibus, eros dolor tincidunt dui, ornare interdum erat augue ac lorem. Sed in mi ultrices, sodales elit sed, pretium lacus. Maecenas ornare, diam faucibus imperdiet finibus, risus nulla tincidunt nisi, ac ornare elit ipsum iaculis enim. Nam efficitur ipsum eu ultricies ornare. Sed a faucibus nulla, ut scelerisque tortor. Pellentesque dolor purus, auctor et dictum non, tincidunt vehicula lorem. Fusce ante tortor, blandit vel dolor non, auctor fermentum nibh. Vivamus pellentesque libero et facilisis varius.